{% if section.settings.collection != blank %}
  {%- liquid
    assign collection = section.settings.collection
    assign collection_custom_banner = section.settings.collection_custom_image
    assign collection_banner = collection_custom_banner | default: collection.image
  -%}

  {% if collection.all_products_count > 2 %}
    {{ 'https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css' | stylesheet_tag }}
  {% endif %}
  {{ 'collection-products.css' | asset_url | stylesheet_tag }}

  <section class="collection-products">
    <div class="collection-products__container">
      <div class="collection-products__wrapper">
        <div class="collection-products__banner">
          <picture>
            {%- if collection_banner != blank -%}
              <source
                media="(max-width: 375px)"
                srcset="
                  {{ collection_banner | image_url: width: 343 }} 1x,
                  {{ collection_banner | image_url: width: 686 }} 2x
                "
              >

              <source
                media="(max-width: 767px)"
                srcset="
                  {{ collection_banner | image_url: width: 735 }} 1x,
                  {{ collection_banner | image_url: width: 1470 }} 2x
                "
              >

              <source
                media="(max-width: 991px)"
                srcset="
                  {{ collection_banner | image_url: width: 959 }} 1x,
                  {{ collection_banner | image_url: width: 1918 }} 2x
                "
              >

              {% # theme-check-disable ImgWidthAndHeight %}
              <img
                class="collection-products__banner-img"
                srcset="
                  {{ collection_banner | image_url: width: 400 }} 1x,
                  {{ collection_banner | image_url: width: 800 }} 2x
                "
                src="{{ collection_banner | image_url: width: 400 }}"
                {% if section.index > 1 %}
                  loading="lazy"
                {% endif %}
                alt="{{- collection_banner.alt -}}"
              >
              {% # theme-check-enable ImgWidthAndHeight %}
            {% else %}
              {{ 'collection-apparel-1' | placeholder_svg_tag: 'collection-products__banner-img' }}
            {% endif %}
          </picture>

          <div class="collection-products__overlay">
            <h2 class="collection-products__overlay-title">{{- collection.title -}}</h2>
            <p class="collection-products__overlay-count">
              {{- collection.all_products_count }}
              {{- collection.all_products_count | pluralize: 'product', 'products' -}}
            </p>
          </div>
        </div>

        <div
          class="js-products-list collection-products__list {% if collection.all_products_count > 2 %}swiper js-swiper-{{ section.id}}{% endif %} js-product-list"
          data-section-id="{{ section.id }}"
        >
          <div class="swiper-wrapper collection-products__list-wrapper">
            {% for product in collection.products limit: 20 %}
              <div class="js-product-item swiper-slide collection-products__product-card-item">
                {% render 'product-card', product_card: product %}
              </div>
            {% endfor %}
          </div>

          {% if collection.products_count > 2 %}
            <div class="swiper-pagination"></div>
            <div class="swiper-button swiper-button-prev">
              {% render 'icon-arrow-left' %}
            </div>
            <div class="swiper-button swiper-button-next">
              {% render 'icon-arrow-right' %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% if collection.all_products_count > 2 %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@12.0.0/swiper-bundle.min.js" defer></script>
  {% endif %}

  <script src="{{ 'collection-products.js' | asset_url }}" defer></script>

{% else %}
  <p>{{ 'No collection selected' | escape }}</p>
{% endif %}

{% schema %}
{
  "name": "Collection products",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },

  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "image_picker",
      "id": "collection_custom_image",
      "label": "Collection custom image"
    }
  ],

  "presets": [
    {
      "name": "Collection products",
      "category": "Custom Sections",
      "settings": {
        "collection": "Talismans"
      }
    }
  ]
}
{% endschema %}
